package templates

import (
    "github.com/ip812/go-template/templates/icon"
)

templ SmallLogo() {
	@icon.Network(icon.Props{Size: 22})
}

templ BigLogo() {
	<div class="flex flex-row justify-center items-center text-3xl space-x-2 font-bold">
        @icon.Network(icon.Props{Size: 40})
        <span>go-template</span>
	</div>
}
